# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular data science languages
- List popular data science libraries
- Do simple arithmetics

Some of the popular languages that Data Scientists use are

1. Python
2. R
3. Scala
4. Julia
5. SQL
6. Java
7. C++

Some of the commonly used libraries used by Data Scientists include: 
1. ggplot2
2. dplyr
3. tidyr
4. tidymodel
5. caret
6. pandas
7. seaborn
8. scikit
9. keras
10. PyTorch

| Data Science Tools |
|--------------------|
|RStudio             |
|Anaconda            |
|Spyder              |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ken Njogu